<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyo.vh.dao.KenanMapper">

    <select id="findKenanById" parameterType="String" resultType="Kenan">
        select * from kenan where id=#{id} and delFlgKenan="0"
    </select>

    <select id="findAllKenan" parameterType="String" resultType="Kenan">
        select * from  kenan where delFlgKenan="0"
    </select>


    <select id="findKenanByKoujiId" parameterType="String" resultType="Kenan">
        select * from kenan where koujiId=#{koujiId} and delFlgKenan="0" order by hakkenDate,taisakuDate
    </select>

    <select id="findKenanByKikisysId" parameterType="String" resultType="Kenan">
        select * from kenan where kikisysId=#{kikisysId}  and delFlgKenan="0" and taiouFlg="未対応" order by hakkenDate,taisakuDate
    </select>

    <select id="findKenanByKikisysIdForAll" parameterType="String" resultType="Kenan">
        select * from kenan where kikisysId=#{kikisysId}  and delFlgKenan="0"  order by hakkenDate,taisakuDate
    </select>

    <select id="findKenanByKikiId" parameterType="String" resultType="Kenan">
        select * from kenan where kikiId=#{kikiId} and delFlgKenan="0"
    </select>

    <select id="findKenanBykoujirelationId" parameterType="String" resultType="Kenan">
        select * from kenan where koujirelationId=#{koujirelationId} and delFlgKenan="0"
    </select>

    <insert id="insertKenan" parameterType="Kenan">
        insert into
        kenan(koujiId,kikisysId,koujirelationId,kikiId,hakkenDate,taisakuDate,taiouFlg,jisyo,buhin,gensyo,youin,taisaku,hakkenJyokyo,syotiNaiyou,delFlgKenan,trkDate, updDate)
        values(
        #{koujiId},
        #{kikisysId},
        #{koujirelationId},
        #{kikiId},
        #{hakkenDate},
        #{taisakuDate},
        #{taiouFlg},
        #{jisyo},
        #{buhin},
        #{gensyo},
        #{youin},
        #{taisaku},
        #{hakkenJyokyo},
        #{syotiNaiyou},
        #{delFlgKenan},
        #{trkDate},
        #{updDate}
        )
    </insert>

    <update id="updateKenan" parameterType="Kenan">
        update kenan
        set koujiId = #{koujiId},
        kikisysId = #{kikisysId},
        koujirelationId = #{koujirelationId},
        kikiId = #{kikiId},
        hakkenDate = #{hakkenDate},
        taisakuDate = #{taisakuDate},
        taiouFlg = #{taiouFlg},
        jisyo = #{jisyo},
        buhin = #{buhin},
        gensyo = #{gensyo},
        youin = #{youin},
        taisaku = #{taisaku},
        hakkenJyokyo = #{hakkenJyokyo},
        syotiNaiyou = #{syotiNaiyou},
        updDate = #{updDate}
        where id = #{id}
    </update>

    <update id="deleteKenan" parameterType="Kenan">
        update kenan
        set delFlgKenan = "1",
        updDate = #{updDate}
        where id = #{id}
    </update>

    <select id="getLastInsertId" resultType="int">
        select id from kenan ORDER BY id DESC limit 1
    </select>

</mapper>