<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toyo.vh.dao.UserMapper">

    <select id="findByUserId" parameterType="User" resultType="User">
        select * from user where userid=#{userid} and password=#{password}
    </select>

    <select id="findUserByKengen" parameterType="String" resultType="String">
        select username from user where kengen=#{kengen}
    </select>

    <select id="findByUserIdOnly" parameterType="String" resultType="User">
        select * from user where userId=#{userId}
    </select>

</mapper>